@charset "UTF-8";
div, a, img {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'lato', 'sans-serif', 'calibri';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.6; ;
  background: #E7EBED;
}
#header {
  width: 100%;
  height: 88px;
}
#topBar, #bottomBar{
  width: 100%;
  height: 44px;
  background: #fff;
 
}
#topBar{
  background: #1e3f4d;
}
#bottomBar{
  border-bottom: 1px solid #000;
}
.mainBody{
  background: #E7EBED;
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
}
.new{
  padding: 2px 8px;
  background: #A94442;
  color: #fff;
  position: absolute;
  right: -4px;
  top: -4px;
  font-size: 14px;
  font-family: "pragati narrow";
  font-weight: bold;
  border-radius: 12px;
  line-height: 1;
}
.resJourney{
  max-width: 700px;
  margin: 12px auto;
  width: calc(100% - 16px);
  display: flex;
  background: #fff;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
.resThumb{
  width: 106px;
  height: 106px;
  background: #ccc;
  align-self: center;
}
.resContent{
  width: calc(100% - 106px);
  padding: 4px 0;
  color: #1E3E4C;
}
.boxtitle{
  font-family: "pragati narrow";
  font-size: 18px;
  color: #1E3E4C;
  text-transform: uppercase;
  border-bottom: 2px solid #E7EBED;
  font-weight: bold;
  padding-left: 16px;
}
.contents{
  padding: 8px 16px 0;
  display:flex;
  justify-content: space-between;
  align-items:center;
  line-height: 1.4;

}
.contents .title{
  margin-bottom: 4px;
}
.week{
  font-size: 12px;
  font-family: "montserrat";

}
.title{
  font-size: 18px;
  font-family: "pragati narrow";
  font-weight: bold;
  line-height: 1;
}
.assignment{
  font-size: 12px;
  font-family: "montserrat";
  color: #445664;
}

/*progress*/
#progress{
  position: relative;
  overflow: hidden;
  max-width: 700px;
  margin:0 auto 12px;
  padding: 56px 0 16px;
  background: #fff;
  width: 100%;
  color: #1E3E4C;
}

#progress_bar{
 width: 580px;
  transition: .3s;
  display: flex;
  justify-content: space-between;
  position:absolute;
  /* transform: translateX(-44%); */
  align-items: center;
  top:16px ;
  right: 84px;
}
#progress_bar.phase5{
  right: -12.28px;
}
@media screen and (min-width: 586px){
  #progress_bar, #progress_bar.phase5{
    right: 50%;
    transform: translateX(50%);
  }
}

#greybar{
  height: 6px;
  width: 100%;
  background: #E9EAEC;
  position:absolute;
  left: 0;
  top: 17px;
  z-index: 0;
  border-radius: 3px;
}
#bar{
  height: 6px;
  width: 93%;
  background: #1e3f4d;
  position:absolute;
  left: 0;
  top: 17px;
  z-index: 0;
  border-radius: 3px;
}
#progress_bar .phaseNum{
transition: .3s;
width: 28px;
height: 28px;
font-family: "pragati narrow";
font-size: 18px;
color: #fff;
background: #1e3f4d;
font-weight: bold;
border-radius: 16px;
z-index: 999;
display:flex;
align-items:center;
justify-content: center;
}
#progress_bar .phaseNum.active{
  transition: .3s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  border: 4px solid #1e3f4d;
  color: #1e3f4d;
} 
#progress_bar .phaseNum.deactive{
  width: 20px;
  height: 20px;
  background: #E9EAEC;
} 
#progress_title{

  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.phase{
  font-size: 18px;
  font-family: "pragati narrow";
}
#progress_title .title{
  font-size: 36px;
}
.arrow{
stroke: #1E3E4C;
stroke-width: 4px;
fill: none;
}
.arrow.deactive{
  stroke: #e9eaec
}
.arrow.active{
  stroke: #fff
}
.progress_content{
  opacity: 0;
  transition: .3s;
  width: calc(100% - 22px);
  padding-left: 24px;
  margin: 16px auto;
}
.assignments{
  max-width: 700px;
  padding-right: 16px;
  margin: 8px auto 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #1E3E4C;
}
.assignments.active{
  background: #1E3E4C;
  color: #fff;
}
.assignments.deactive{
  opacity: .5;
}
.assignments .thumb{
  width: 76px;
  height: 76px;
  background :#AFAFAF;
}
.assignments .assignment_content{
  width: calc(100% - 103px);
  line-height: 1.7;
  padding-left: 8px;
}
.assignments .assignment_content .week{
  margin-bottom: 4px;
}
.assignments .assignment_content .title{
  margin-bottom: 4px;
}
.comingUp{
  margin: 28px auto 0;
  width: 100%;
  max-width: 700px;
  padding-left: 8px;
  font-size:18px;
  font-family: "pragati narrow";
  font-weight: bold;
  color: #1E3E4C;
}
#footerWrap{
  position:fixed;
  width: 100%;
  background: #1E3E4C;
  height: 51px;
  bottom: 0;
  left: 0;
  display:flex;
  justify-content: center;
}
#footer{
  margin: 0 auto;
}
.dots{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.dot{
  background: #C4C4C4;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 4px;
}
.desktop{
  display: none;
}
@media screen and (min-width: 1200px){
  .mainBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .resJourney{
    margin:16px 8px;
    max-width: 375px;
    align-self:flex-start;
  }
  .divider{
    padding-top: 16px;
    width: 100%;
    margin:0 8px;
    max-width: 700px;
  }
  #progress{
    padding-top:72px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  }
  #progress_bar{
    top: 32px;
  }
  .progress_content{
  margin-top: 32px;
  padding-left: 36px;
  }
  #break{
    display: none;
  }
  .mobile{
    display:none;
    overflow: hidden;
  }
  .desktop{
    display: flex;
  }
  .resContent{
    width: 100%;
    max-width: 375px;
    padding-bottom: 0;
  }
  .boxtitle{
    padding:8px 16px 4px;
  }
  .contents{
    padding: 0 16px 0 0;
  }
  .wrapper{
    width:calc(100% - 122px);
    padding-left: 16px;
  }
  .week{
    margin-bottom: 4px;
  }
  .wrapper .title{
    font-size: 20px;
    margin-bottom: 12px;
  }
}